<mat-sidenav-container class="h-screen">
  <mat-sidenav mode="side" opened class="w-64 bg-waldorf-green">
    <div class="p-4 text-white">
      <h2 class="text-lg font-bold">Waldorf</h2>
      <p class="text-sm opacity-75">{{ usuario?.nome }}</p>
    </div>
    <mat-nav-list>
      <a mat-list-item *ngFor="let item of navItems" [routerLink]="item.route" routerLinkActive="bg-white/10">
        <mat-icon matListItemIcon class="text-white">{{ item.icon }}</mat-icon>
        <span matListItemTitle class="text-white">{{ item.label }}</span>
      </a>
    </mat-nav-list>
    <div class="absolute bottom-4 w-full px-4">
      <button mat-stroked-button class="w-full text-white" (click)="logout()">Sair</button>
    </div>
  </mat-sidenav>
  <mat-sidenav-content class="p-6 bg-gray-50">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
